@font-face {
   font-family: "Rubik-Light";
   src: url("./fonts/Rubik-Light.ttf") format("truetype");
}

@font-face {
   font-family: "Rubik-Regular";
   src: url("./fonts/Rubik-Regular.ttf") format("truetype");
}

html,
body {
   font-size: 1.2em;
   line-height: 1.85em;
   -webkit-font-smoothing: antialiased;
   /* Fix for webkit rendering */
   -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: black;
   font-family: "Rubik-Regular", sans-serif;
}

h1 {
   font-size: 2.5em;
   margin-bottom: 0;
   margin-top: 80px;
}

h4 {
   font-size: 1.2em;
}

p,
cite,
strong {
   color: #020202;
   font-family: "Rubik-Light", sans-serif;
}

a {
   cursor: pointer;
   padding-bottom: 4px;
   text-decoration: none;
   border-bottom: #f4c64b 4px solid;
   transition: 1s ease-in-out;
   -o-transition: 1s ease-in-out;
   -ms-transition: 1s ease-in-out;
   -moz-transition: 1s ease-in-out;
   -webkit-transition: 1s ease-in-out;
}

a:hover {
   padding-bottom: 4px;
   text-decoration: none;
   border-bottom: #020202 4px solid;
}

::selection {
   background-color: #f4c64b;
}

/* Made with love area */
.heart-container {
   font-size: small;
   font-weight: bold;
}

.heart-icon {
   color: #f4c64b;
   font-size: 1.2rem;
}